name: Check links in README.md

on:
  # Run daily
  schedule: [{cron: "0 1 * * *"}]
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: docker://dkhamsing/awesome_bot:latest
      with:
        args: /github/workspace/README.md README.md --allow-timeout --request-delay 1 --allow 502,503,504,509,521 --allow-ssl --allow-redirect --allow-dupe -w www.terraform.io,signup.hangops.com,kitchen.ci --white-list https://vimeo.com,kubernetes.io,kitchen.ci,debuggex.com,smile.amazon.com,code.visualstudio.com
